

<ul>
    <% for (var i in tips) { %>
        <% var tip = tips[i]; %>
        <% var showTipText = tip.accepted || (
                session.user && (
                    session.user.isAdmin || 
                    (quizAuthorId && quizAuthorId === session.user.id) ||
                    (tip.Author && tip.Author.id === session.user.id)
                )
            )
        %>
        <% var showAccept = !tip.accepted &&
                    (session.user && (session.user.isAdmin || (quizAuthorId && quizAuthorId === session.user.id)))
        %>
        <% var showDelete = session.user && (
                    session.user.isAdmin ||
                    (quizAuthorId && quizAuthorId === session.user.id) ||
                    (tip.Author && tip.Author.id === session.user.id)
                )
        %>

        <% if (showTipText) { %>
        <li>
            <p><%= tip.text %></p>
            <span id="autor"><%= tip.Author ? tip.Author.username : "Anómino" %></span>

            <% if (showAccept) { %>
                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT"><button>Aceptar</button></a>

            <% } %>

            <% if (showDelete) { %>
                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE"><button>Borrar</button></a>
            <% } %>

        </li>
        <% } %>
    <% } %>
</ul>